<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Meeting Summarizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <video autoplay muted loop id="background-video">
        <source src="{{ url_for('static', filename='bg3.mp4') }}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <div class="container">
        <h1 class="welcome-text">Welcome to the Summarizer</h1>
        <button class="get-started" onclick="window.location.href='/options'">Let's Get Started</button>
    </div>
    
</body>
</html>
